/* style selectors are arranged alphabetically */

* {
    margin: 0px;
    padding: 0px;

}

.aimg {
    position: relative;
    width: 200px;
    height: 100px;
    float: left;
    margin-right: 0.5em;
}

.cimg {
    position: relative;

    width: 200px;
    height: 100px;
    float: left;
    padding-right: 0.5em;
}



body {
    background-color: rgb(223, 67, 67);
    text-align: center;
    color: #40514E;
}

.bimg {
    width: 15%;
    height: 15%;
    position: relative;
    margin-top: 10px;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 40%;
}


.con {
    text-align: left;
    margin-left: 20px;

}

.codin {
    text-align: center;
}



.form {
    padding-top: 30px;

}

.foot {
    background-color: grey;
    position: absolute;
    height: 6%;
    width: 100%;
}


input {
    display: block;
}

.inline {
    display: inline;
}

input:hover {
    background-color: #6d038d;
    ;
}

.mountain {
    width: 60%;
}



.star {
    font-size: 0.5em;
}

.skills {
    width: 50%;
    margin: auto;
    text-align: left;
    padding-bottom: 5%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.top-container {
    color: black;
    position: relative;
    padding-top: 50px;
}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 38%;
}

.ul {
    text-align: left;

}

h1 {
    color: #6d038d;
}

h3,
h2 {
    color: #e6c8cd;
}

h2 {
    padding-bottom: 3%;
}


@media screen and (max-width:800px) {

    body {
        position: relative;
        width: 100%;
        left: 2%;
        color: rgb(5, 24, 10);

        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
    }


    .bimg {
        width: 20%;
        height: 20%
    }

    .con {
        background-color: #6d038d;
        color: rgb(223, 67, 67);
    }

    /* .center {
        margin-left: 55%;
        position: absolute; */






    #6d038d input:hover {
        background-color: red;
    }

    .inline {
        display: block;

    }

    .mountain {
        padding-right: 28%;
        width: 100%;
        position: relative;
    }

    /*

    .web {
        position: absolute;
        left: 80%;
        top: 2%;

    }*/

    .top-cloud {
        position: absolute;
        right: 5%;
        top: 35%;
    }

    .bottom-cloud {
        position: absolute;
        left: 10%;
        bottom: 40%;
    }


}