/* style selectors are arranged alphabetically */

* {
    margin: 0px;
    padding: 0px;

}

.aimg {
    width: 200px;
    height: 100px;
    position: relative;
    margin-top: 10px;
}

body {
    background-color: rgb(223, 67, 67);
    text-align: center;
    color: #6d038d;
}

.bimg {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 10px;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 40%;
}


.con {
    text-align: left;
    margin-left: 20px;

}

.form {
    padding-top: 30px;
}


input {
    display: block;
}

.inline {
    display: inline;
}

input:hover {
    background-color: #6d038d;
    ;
}

.star {
    font-size: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.top-container {
    color: black;
    position: relative;
    padding-top: 50px;
}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 38%;
}

.ul {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: left;
    margin-left: 20px;
}

h1 {
    color: #6d038d;
}

h3,
h2 {
    color: #e6c8cd;
}


@media screen and (max-width:600px) {

    body {

        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: relative;
        margin-left: 10%;
        margin-right: auto;

    }

    .con {
        background-color: #6d038d;
        color: rgb(223, 67, 67);
    }

    /* .center {
        margin-left: 55%;
        position: absolute; */




}

#6d038d input:hover {
    background-color: red;
}

.inline {
    display: inline;

}

/* .mountain {
        padding-right: 28%;
    }

    .web {
        position: absolute;
        left: 80%;
        top: 2%;

    }

    .top-cloud {
        position: absolute;
        right: -60%;
        top: 30%;
    }

    .bottom-cloud {
        position: absolute;
        left: 25%;
        bottom: 40%;
    }
 */

}