* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgb(223, 67, 67);
    text-align: center;
}


.ul {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: left;
    margin-left: 20px;
}

.aimg {
    width: 200px;
    height: 100px;
    position: relative;
    margin-top: 10px;
}

.bimg {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 10px;
}

#web {
    color: #2b0b35;

}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 38%;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 40%;
}

.con {
    text-align: left;
    margin-left: 20px;
}

input {
    display: inline-block;
}

@media screen and (max-width:300px) {




    body {
        width: 80%;
        text-align: center;

    }
}





























.top-container {
    color: black;
    position: relative;
    padding-top: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
}






h1 {
    color: #6d038d;
}





h3,
h2 {
    color: #e6c8cd;
}



.star {
    font-size: 0.5em;
}



.input:hover {
    background-color: green;
}